.likes > button {
  background-color: #4458c7;
  border-radius: 28px;
  border: 1px solid #3318ab;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 8px;
}
