.convert {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.equal {
  font-size: 3rem;
}

input {
  margin: 2px;
  padding: 5px;
  border-radius: 10px;
}

select {
  margin: 2px;
  padding: 5px;
  border-radius: 10px;
}
