*{
  text-decoration: none;
}

.Logo {
  color: #ffffff;
  font-size: 25px;
  padding: 15px;
  text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5,
    -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5,
    -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    
}

